body {
  background-color: #f5f5f5;
  color: #3f3f46;
}

a,
a:visited {
  font-weight: bold;
  color: #3f3f46;
}

a:hover {
  color: #09090b;
}

.site-header {
  border: none;
}

.site-header a {
  text-decoration: none;
}

.site-title {
  font-weight: bold;
}

.post {
  background: white;
  border: 3px solid $border-color;
  filter: drop-shadow(5px 8px 0px $border-color);
}

.post-header {
  margin: 0;
  padding: 16px 32px;
  border-bottom: 3px solid $border-color;
}

.post-header h1 {
  margin: 0;
  font-size: 32px;
  font-weight: bold;
}

.post-content {
  margin: 0;
  padding: 32px;
}

.post-footer {
  padding: 16px 32px;
}

.post-list-heading {
  display: none;
}

.post-list li {
  background-color: white;
  padding: 16px;
  border: 3px solid $border-color;
}

.post-list li h3 {
  padding: 0;
  margin: 0;
}
